<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
<title>Rainbow</title>

 <style>
    body{
    background-color: {{background}};
 }
</style>
</head>
<body>

<h1>Nana's Rainbow </h1>
<h1>{{name}}</h1>
<p> </p>
<br>
<a href="http://0.0.0.0:5000/"><button> press to go to main page </button></a>
<br>
<a href="http://0.0.0.0:5000/red"><button> press to go to red page</button></a>
<br>
<a href="http://0.0.0.0:5000/blue"><button> press to go to blue page </button></a>
<br>
<a href="http://0.0.0.0:5000/violet"><button> press to go to violet page </button></a>
<br>
<a href="http://0.0.0.0:5000/indigo"><button> press to go to indigo page </button></a>
<br>
<a href="http://0.0.0.0:5000/yellow"><button> press to go to yellow page </button></a>
<br>
<a href="http://0.0.0.0:5000/orange"><button> press to go to orange page </button></a>
<br>
<a href="http://0.0.0.0:5000/green"><button> press to go to green page </button></a>

</body>
</html>
